.h2- {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.p- {
  font-size: 1.25rem;
}

.ul- {
  list-style-type: auto;
  padding-left: 40px;
}
.d-grid-s {
  display: grid;
  padding-top: 10px;
}
.input-filed {
  padding: 0 15px;
  height: 40px;
  border: 1px solid #ffffff;
  font-size: 16px;
  background: rgba(168, 234, 249, 0.163);
  border-radius: 3px;
}
.textarea-filed {
  padding: 0 15px;
  height: 140px;
  border: 1px solid #ffffff;
  font-size: 16px;
  background: rgba(168, 234, 249, 0.163);
  border-radius: 3px;
}

.required {
  color: rgb(201, 55, 18) !important;
}

.input-button {
  background-color: rgb(36 203 199 / var(--tw-bg-opacity)) !important;
  height: 40px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.p-sm {
  font-size: 12px;
  font-weight: 400;
}

#border-red {
  border: 0.5px solid rgb(201, 55, 18) !important;
}

.text_p {
  font-size: 1.0546875rem;
}
.review_order_ {
  font-size: 1.1rem;
  font-weight: 500;
}
.d-flex-c {
  display: flex;
  align-items: center;
}
.upgrades {
  font-weight: 700;
  margin-top: 10px;
  color: #5b7fffcd;
  font-size: 14px;
}
#payments_coupon {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#payments_coupon:hover {
  border-bottom: 1px solid rgb(58, 129, 244);
}
.span_plus {
  /* margin-top:; */
  font-size: 20px;
  margin-right: 4px;
}
.text-less-w {
  margin-top: 7px !important;
  margin-bottom: 12px !important;
}
.writing_box {
  padding-top: 5px;
  padding-bottom: 17px;
  border: 1px solid #fffefe75;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.writing_box:hover {
  background: #acacac75 !important;
  border: 1px solid #4642c9bc;
}

.summary-box {
  border: 1px solid #73858cbc;
  margin-top: 50px;
  border-radius: 5px;
}
.summary {
  background-color: rgb(66, 91, 118);
  color: rgb(255, 255, 255);
  border-bottom-color: rgb(66, 91, 118);
  padding: 10px;
  padding-left: 20px;
  font-size: 18px;
}

.justify-between {
  justify-content: space-between;
}
.text-small {
  font-size: 14px;
  font-weight: 400;
}

.border-bottom {
  border-bottom: 1px solid #73858cbc;
}
.padding-50 {
  padding-bottom: 50px;
}
